<h1>Hello, <%= @user.first_name %>! Welcome to your Crowdfunder profile page.</h1>

<h1>Your projects</h1>

<li>
	<% @user.owned_projects.each do |p| %>
		<li><%= p.title %></li>
	<% end %>
</li>


<h1>Projects you've backed</h1>

<li>
	<% @user.projects.each do |p| %>
		<li><%= p.title %></li>
	<% end %>
</li>
